<section class="text-center pb-4 h-100">
    <div class="container">
      <div class="heading mb-5">
        <div class=" d-flex justify-content-center align-items-center mt-5">
          <h1>{{"services" | translate}}</h1>
        </div>
        <p class="text-muted w-75 mx-auto text-center">
          {{"medicalServicesPage.introductionWithMedicalServices" | translate}}
        </p>
      </div>
      <div class="p-2 my-5">
        <div class="row row-gap-3">
          @for(item of MedicalServiceOfList; track $index){
          <ng-container>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="item text-center shadow rounded-2 p-4">
                <div class="itemIcon d-flex justify-content-center align-items-center">
                  <i class="fa-solid" [ngClass]="[item.icon, item.styleClass]"></i>
                </div>
                <h6 class="mt-5">{{item.title | translate}}</h6>
                <p>
                  {{item.description | translate}}
                </p>
              </div>
            </div>
          </ng-container>
        }
        </div>
      </div>
    </div>
  </section>
