<div class="notification-container">
  <h3>Notifications</h3>
  <ul>
    @for (notification of notifications; track notification.id) {
      <li class="notification-item">
        <span>{{ notification.name_uploader }} uploaded {{ notification.filename }}</span>
        <app-button (click)="markAsRead(notification)" aria-label="Mark as read" label="Mark as Read"></app-button>
        <app-button (click)="removeNotification(notification)" aria-label="Remove notification" label="Remove"></app-button>
      </li>
    }
  </ul>
  <app-button (click)="clearAll()" class="clear-all-btn" aria-label="Clear all notifications" label="Clear All"></app-button>
</div>
