<div class="card">
  <p-tabView>
    @for(tab of tabs; track $index){
    <p-tabPanel [header]="tab.label" [leftIcon]="tab.icon || ''">
      <a [routerLink]="tab.route" class="tab-link">{{ tab.label }}</a>
    </p-tabPanel>
  }
  </p-tabView>
</div>




<!-- <app-tabs [tabs]="tabs"></app-tabs>

tabs = [
    { label: 'Dashboard', icon: 'pi pi-home', route: '/dashboard' },
    { label: 'Users', icon: 'pi pi-users', route: '/users' },
    { label: 'Settings', icon: 'pi pi-cog', route: '/settings' }
  ]; -->
